[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "PyTimeTrack"

[packages]
matplotlib = "~=3.7"
pandas = "~=1.5"
pystray = "~=0.19"

[dev-packages]
black = "*"
pytest = "*"

[requires]
python_version = "3.11"
