[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "PyTimeTrack"

[packages]
pandas = "~=2.0"
pystray = "~=0.19"
seaborn = "~=0.12"

[dev-packages]
black = "*"
pytest = "*"
pyinstaller = "*"
coverage = "*"

[requires]
python_version = "3.11"
